---
// IMPORTS
import Layout from "@layouts/Layout.astro";
---

<Layout
   title="Impressum"
   metaDesc="Dies ist die Beschreibung der Impressum Seite"
>
   <!-- This comes from Tailwind -->
   <div class="bg-teal-200 my-4 py-4">
      <h1>Impressum</h1>
   </div>
</Layout>
