<!-- Container and margin kicks in at < medium breakpoint -->
<footer role="contentinfo" class="md:container md:mx-auto">
   <small>
      Copyright &copy; <span id="copyright"></span>
      All rights reserved
   </small>
</footer>
