<!-- Container and margin kicks in at < medium breakpoint -->
<nav class="md:container md:mx-auto">
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/full-width">To Full Width Example</a></li>
      <li><a href="/datenschutz">Datenschutz</a></li>
      <li><a href="/impressum">Impressum</a></li>
   </ul>
</nav>
