---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
// import "../../node_modules/open-props/normalize.min.css";
import "../assets/styles/styles.css";

const { title, metaDesc } = Astro.props;
---

<html lang="en">
   <!-- HEAD -->
   <Head title={title} metaDesc={metaDesc} />
   <body>
      <!-- NAVIGATION -->
      <!-- Navigation should not live in main tag -->
      <Navigation />

      <!-- MAIN -->
      <!-- Container and margin kicks in at < medium breakpoint -->
      <main
         id="content"
         role="main"
         class="md:container md:mx-auto w-full min-h-screen bg-slate-200"
      >
         <!-- HEADER -->
         <Header />

         <!-- ARTICLE -->
         <article>
            <!-- main content -->
            <slot />
         </article>
      </main>
      <!-- MAIN END -->

      <!-- FOOTER -->
      <!-- Footer should not live in main tag -->
      <Footer />

      <!-- SCRIPTS -->
      <script>
         document.querySelector("#copyright").textContent = new Date()
            .getFullYear()
            .toString();
      </script>
   </body>
</html>
