---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import "../assets/styles/tw-base.css";
import "../js/app.js";

const { title, metaDesc } = Astro.props;
---

<style is:global>
   :root {
      --lm-test: blue;
      --lm-brand: var(--lime-3);
      --lm-primary: var(--cyan-4);
   }

   .leo-regel {
      color: var(--sand-4);
   }
</style>

<html lang="en">
   <!-- ANCHOR: HEAD -->
   <!-- Title and Meta Description are coming from the Head component which received the values fromo the incoming page -->
   <Head title={title} metaDesc={metaDesc} />
   <body>
      <!-- ANCHOR: NAVIGATION -->
      <!-- Navigation should not live in main tag -->
      <Navigation />

      <!-- ANCHOR: MAIN -->
      <!-- Container and margin kicks in at < medium breakpoint -->
      <main
         id="content"
         role="main"
         class="md:container md:mx-auto w-full min-h-screen bg-slate-200"
      >
         <!-- ANCHOR: HEADER -->
         <Header />

         <!-- ANCHOR: ARTICLE -->
         <article>
            <!-- main content -->
            <slot />
         </article>
      </main>
      <!-- MAIN END -->

      <!-- ANCHOR: FOOTER -->
      <!-- NOTE: Footer should not live in main tag -->
      <Footer />
   </body>
</html>
